services:
    php:
        image: behat-css-extension:dev
        build:
            context: .
            dockerfile: Dockerfile

        volumes:
            - .:/app

        restart: unless-stopped

        user: '33:33'
